 <nav class="navbar navbar-expand-lg" id="inicio">
        <div class="container-fluid">
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" routerLink="/layout/admin">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Mensaje del candidato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Programa de gobierno</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Contacto</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Escribenos</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Unete a nosotros</a>
              </li>     
                <li class="nav-item">
                <a class="nav-link text-white" routerLink="/layout/home">Home</a>
              </li>   
                    <li class="nav-item">
                <a class="nav-link text-white" (click)="logoff()" >Log out</a>
              </li>  
            </ul>
            
          </div>
        </div>
      </nav>
