<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-8 col-md-6">
            <h1 class="text-success mt-4 mb-4 fw-bold">Lista de miembros</h1>
        </div>
        <div class="row justify-content-end">
                <div class="col-lg-5">
             <div class="bg-success">
             <h5 class="fst-italic text-white p-3">Cantidad de miembros: {{TotalMiembro}}</h5>
             </div>
            </div>    
        </div>
    </div>
    <div class="row justify-content-start mb-2" style="padding-left: 9%;">
        <div class="col-lg-4">
        <input [(ngModel)]="Buscar" (input)="BuscarPersonas(Buscar)" class="form form-control" type="text" placeholder="Buscar por nombre">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="table-responsive border" style="max-height: 750px; overflow-y: auto;">
         <table id="TablaPersonas" class="table table-hover mt-4">
             <thead class="">
                <tr class="">
                    <th>Nombre</th>
                     <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Cedula</th>
                      <th>Provincia</th>
                    <th class="no-export" style="padding-left: 5%;">Acciones</th>
                </tr>
             </thead>
             <tbody>
      
                  @for(p of personas; track p.idPersona){
                     <tr>
                    <td>{{p.nombre}}</td>
                    <td>{{p.telefono}}</td>
                    <td>{{p.direccion}}</td>
                    <td>{{p.cedula}}</td>
                     <td>{{p.provincia}}</td>
                    <td class="d-flex gap-2 no-export">
                       <button class="btn btn-success" routerLink="/layout/update/{{p.idPersona}}">Editar</button>
                        <button class="btn btn-danger"(click)="borrar(p.idPersona)">Borrar</button>
                    </td>
                    </tr>
                  }
          
             </tbody>
         </table>
         </div>
          <div class="row justify-content-center">
            <div class="col-lg-6">
                <button class="btn btn-success mt-3 mb-5 w-100" (click)="ExportToExcel()"><i class="bi bi-file-earmark-arrow-down-fill"></i> Descargar a excel</button>
            </div>
         </div>
        </div>
    </div>
</div>
<section>
    <app-footer></app-footer>
</section>
