
 <section class="sd" style="background-image: url(images/ciudadSD.jpg); width: 100%; background-size:cover">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col">
                  <h3 class="text-white col-8">Conoce nuestro</h3>
                  <h2 class="text-white fw-bold fst-italic" style="font-size: 30px;">Programa de gobierno</h2>
                  <div class="row justify-content-start">
                    <div class="col-lg-4 col-12">
                        <h3 class="text-white mt-3 lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim aut debitis ea tenetur, delectus, aspernatur fuga omnis, non sed deserunt ipsum quam cum provident quis. Ab doloribus neque veniam.</h3>                   
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col-lg-6 col-8">
                            <button class="btn btn-primary text-white w-100 mb-5 rounded-5">Ver mas</button>
                        </div>
                    </div>                
                  </div>                  
                </div>
            </div>
        </div>
      </section>
       <section>
       <div class="container">
        <div class="row justify-content-start mt-4">
            <div class="col-lg-6 col-12">
                <img src="images/politicomexinaco.jpg" width="600" alt="" class="mb-4 img-fluid">
            </div>
            <div class="col-lg-6 col-12">
                <h1 class="fw-bold">Mensaje del candidato </h1>
                <p class="lead" style="text-align: justify;" data-aos="fade-down-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia perferendis asperiores velit reprehenderit vel error, pariatur repudiandae voluptatum culpa, odit voluptate tempora quos tempore aliquam enim quasi quidem ipsam illo?</p>
                <p class="lead" style="text-align: justify;" data-aos="fade-down-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia perferendis asperiores velit reprehenderit vel error, pariatur repudiandae voluptatum culpa, odit voluptate tempora quos tempore aliquam enim quasi quidem ipsam illo?</p>
                <p class="lead" style="text-align: justify;" data-aos="fade-down-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia perferendis asperiores velit reprehenderit vel error, pariatur repudiandae voluptatum culpa, odit voluptate tempora quos tempore aliquam enim quasi quidem ipsam illo?</p>             
            </div>
        </div>
       </div>
      </section>
      <section style="background-color: green;">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-12">
                <h1 class="text-white fw-bold fst-italic mt-4" style="font-size: 30px;">Propuestas de gobierno para transformar la Republica Dominicana</h1>           
          </div>
        </div>
        <div class="container mb-3">
        <div class="row justify-content-center container mb-3">
          <div class="col-12 mt-4 col-md-6 col-lg-6" data-aos="fade-down">
                    <div class="card cb bg-transparent" id="card">
                      <img src="images/economy.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-white fst-italic text-center">Economia</h5>
                                                   
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-4 col-md-6 col-lg-6" data-aos="fade-down">
                    <div class="card cb bg-transparent" id="card">
                      <img src="images/security.jpg" height="290"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-white fst-italic text-center">Seguridad ciudadana</h5>
                                                   
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-4 col-md-6 col-lg-6" data-aos="fade-down">
                    <div class="card cb bg-transparent" id="card">
                      <img src="images/ir.jpg" height="315" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-white fst-italic text-center">Relaciones internacionales</h5>
                                                   
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-4 col-md-6 col-lg-6 mb-4" data-aos="fade-down">
                    <div class="card cb bg-transparent" id="card">
                      <img src="images/sh.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-white fst-italic text-center">Programas sociales</h5>                                                
                      </div>
                    </div>
                  </div>    
        </div>
        </div>
      </section>
       <section>
       <div class="container">
        <div class="row justify-content-center">
         <div class="col-lg-2 col-5">
            <h2 class="mt-5 text-success fw-bold">Escribenos</h2>
         </div>
        </div>
        <div class="row justify-content-start">
           <div class="col-lg-6 mt-3 col-12">
            <form action="">
                <input type="text" class="form-control mt-3" placeholder="Nombre" required>
                <input type="email" class="form-control mt-3" placeholder="Correo" required>
                <textarea name="" class="form-control mt-3" placeholder="Mensaje" id="" required></textarea>
                <button class="btn btn-primary mt-3 w-100">Enviar</button>
            </form>
           </div>
           <div class="col-lg-6 col-12">
            <img src="images/bandera1.webp" class="img-fluid mt-0" alt="">
           </div>
        </div>
       </div>
      </section>
      <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
              <app-form btn="Guardar" prov="Elija la provincia" btncolor="btn btn-primary w-100" titulo="Unete a nosotros" (metodo)="guardar($event)" ></app-form>
              </div>
            </div>
        </div>
      </section>
      <section class="mt-4">
        <div class="container">
        <div class="row justify-content-center" style="padding-top: 10%;">
          <div class="col-lg-3 col-md-3 col-2" data-aos="flip-right">
             <h2 class="text-warning"><a href="">
              <i class="bi bi-facebook"></i>
             </a></h2>
             <p class="text-dark fw-bold"></p>              
          </div>
          <div class="col-lg-3 col-md-3 col-2" data-aos="flip-left">
            <h2 class="text-warning"><a style="color:rgb(253, 50, 145)" href=""><i class="bi bi-instagram"></i>
            </a></h2>   
            <p class="text-dark fw-bold"></p>  
         </div>
         <div class="col-lg-1 col-md-2 col-2" data-aos="flip-right">
          <h2 class="text-warning"><a style="color:rgb(37, 32, 32)" href=""><i class="bi bi-twitter-x"></i></a></h2> 
          <p class="text-dark fw-bold"></p>    
       </div>
        </div>
      </div>
      </section>  
      <section>
        <app-footer></app-footer>
      </section>