<footer class="mt-4">
            <div class="container-fluid">
                <ul>
                    <li class="text-white">Linea1</li>
                    <li class="text-white">Linea1</li>
                    <li class="text-white">Linea1</li>
                    <li class="text-white">Linea1</li>
                    <li class="text-white">Linea1</li>
                </ul>
                <div class="row justify-content-start text-white">
                    <div class="col-lg-6">
                        <h5 class="mt-5"><i class="bi bi-geo-alt-fill"></i> Santo Domingo, Rep.Dom</h5>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="mt-5"><i class="bi bi-phone-fill"></i> 809-000-0000</h5>
                    </div>
                </div>
            </div>
        </footer>